<div class="backdrop"></div>
<div class="modal-window modal-case">
  <button type="button" class="modal-close-btn">
    <svg class="modal-close-btn-icon" width="24" height="24">
      <use href="../img/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="modal-title">Your Order</h2>

  <ul class="modal-card-list list">
    <li class="modal-card-item">
      <div class="modal-card-title-case">
        <h3 class="modal-card-title">Cabbage Basket</h3>
        <p class="modal-card-text">Plant</p>
      </div>
      <img src="../img/cabbage.png" alt="cabbage" class="modal-card-img" />
      <input
        type="checkbox"
        class="input-checkbox"
        id="checked-product"
        name="checked-product"
        value="true"
        checked
      /><label for="checked-product" class="form-checkbox">
        <span class="modal-span-chekbox">
          <svg class="checkbox-icon" width="16" height="16">
            <use href="../img/sprite.svg#"></use>
          </svg> </span
      ></label>
    </li>
    <li class="modal-card-item">
      <div class="modal-card-title-case">
        <h3 class="modal-card-title">Tomato Basket</h3>
        <p class="modal-card-text">Plant</p>
      </div>
      <img src="../img/tomatos.png" alt="tomatos" class="modal-card-img" />
      <input
        type="checkbox"
        class="input-checkbox"
        id="checked-product"
        name="checked-product"
        value="true"
        checked
      /><label for="checked-product" class="form-checkbox">
        <span class="modal-span-chekbox">
          <svg class="checkbox-icon" width="16" height="16">
            <use href="../img/sprite.svg#"></use>
          </svg> </span
      ></label>
    </li>
    <li class="modal-card-item">
      <div class="modal-card-title-case">
        <h3 class="modal-card-title">Vegetables Basket</h3>
        <p class="modal-card-text">Plant</p>
      </div>
      <img
        src="../img/vegetables-2.png"
        alt="vegetables"
        class="modal-card-img"
      />
      <input
        type="checkbox"
        class="input-checkbox"
        id="checked-product"
        name="checked-product"
        value="true"
        checked
      /><label for="checked-product" class="form-checkbox">
        <span class="modal-span-chekbox">
          <svg class="checkbox-icon" width="16" height="16">
            <use href="../img/sprite.svg#"></use>
          </svg> </span
      ></label>
    </li>
  </ul>
  <form class="modal-form">
    <div class="modal-field">
      <input
        type="text"
        class="form-input"
        id="user-name"
        name="user-name"
        placeholder="Enter full name..."
      />
      <input
        type="email"
        class="form-input"
        id="user-email"
        name="user-email"
        placeholder="Enter email..."
      />
      <input
        type="number"
        class="form-input"
        id="user-card"
        name="user-card"
        placeholder="Enter card..."
      />
      <textarea
        name="user-comments"
        id="user-comments"
        class="user-comment"
        cols="30"
        rows="10"
        placeholder="Enter comments..."
      ></textarea>
    </div>
    <button type="submit" class="submit-btn">Submit</button>
  </form>

  <img src="../img/" alt="girl with leaves" class="modal-background-img" />
</div>
