<div class="modal-window">
    <form class="modal-form"></form>
  <h2 class="modal-title">Your Order</h2>
  <button type="button" class="modal-close-btn">
    <svg class="modal-close-btn-icon" width="24" height="24">
      <use href="../img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="modal-product-list list">
    <li class="modal-product-item">
      <h3 class="modal-product-title">Cabbage Basket</h3>
      <p class="modal-product-text">Plant</p>
      <img src="../img/cabbage.png" alt="cabbage" class="modal-product-img" />
      <input type="checkbox" class="form-checkbox" id="checked-product"
              name="checked-product"
              value="true"
              checked>
    </li>
    <li class="modal-product-item">
      <h3 class="modal-product-title">Tomato Basket</h3>
      <p class="modal-product-text">Plant</p>
      <img src="../img/tomatos.png" alt="tomatos" class="modal-product-img" />
      <input type="checkbox" class="form-checkbox" id="checked-product"
              name="checked-product"
              value="true"
              checked>
    </li>
    <li class="modal-product-item">
      <h3 class="modal-product-title">Vegetables Basket</h3>
      <p class="modal-product-text">Plant</p>
      <img
        src="../img/vegetables-2.png"
        alt="vegetables"
        class="modal-product-img"
      />
      <input type="checkbox" class="form-checkbox" id="checked-product"
              name="checked-product"
              value="true"
              checked>
    </li>
  </ul>
      <div class="modal-field">
      <input
        type="text"
        class="form-input"
        id="user-name"
        name="user-name"
        placeholder="Enter full name..."
      />
      <input
        type="email"
        class="form-input"
        id="user-email"
        name="user-email"
        placeholder="Enter email..."
      />
      <input
        type="text"
        class="form-input"
        id="user-card"
        name="user-card"
        placeholder="Enter card..."
      />
      <textarea
        name="user-comments"
        id="user-comments"
        cols="30"
        rows="10"
        placeholder="Enter comments..."
      ></textarea>
    </div>
    <button type="submit" class="submit-btn">Submit</button>
</form>
</div>
